{{#demo-css}}
<h3 class="title"><b>Component</b>::mini-date-change</h3>
<desc>A helper component to the <prop>mini-datetime</prop> component which provides a UI for changing the <i>date</i> part of the datetime.</desc>

<h3>Basic Example</h3>

<row>
  <widget class="{{if containerSize 'wide'}}">
    {{mini-date-change
      onChange=(action 'onDateChange')
      value=myDate
      numDateChoices=numDateChoices
    }}
  </widget>
  <code class='language-handlebars'>
\{{mini-date-change
  onChange=(action 'onDateChange')
  value=myDate
  numDateChoices=numDateChoices
}}
  </code>
</row>
<row>
  <description>
    <p>
      The two key input properties -- <prop>date</prop> (or <i>value</i> which is an alias) and <prop>numDateChoices</prop> -- are one way bindings so the container (most likely to be the <b>mini-datetime</b> component) will listen to the action <prop>onDateChange</prop> which will return an array of the format: <code>[ YYYY, MM, DD ]</code>. You can see this in action by interacting with the widget above.
    </p>
    container size: {{ui-toggle-button on='wide' off='narrow' value=containerSize}}
  </description>
</row>


{{/demo-css}}
