{{#demo-css}}
<div class="container">

  <h3>Components</h3>
  <div class="col-xs-12 col-sm-6">
    click on any of the following components for details
    <ul>
      <li>
        {{#link-to 'mini-datetime-component'}}mini-datetime{{/link-to}}<br />
        <small>
          A small UI footprint viewing date, time, and duration. Can be a date/time picker but most useful when date is near a known date (aka, today, etc.)
        </small>
      </li>
      <li>
        {{#link-to 'demo-date-picker'}}date-picker{{/link-to}}<br />
        <small>
          A more traditional take of the date-picker component which allows for fluid and mobile-friendly movement to dates at any distance. This heavily leverages composable components and therefore the block form is highly flexible in design.
        </small>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6">
    helper components:<br>
    <ul>
      <li>
        {{#link-to 'demo-mini-time-change'}}mini-time-change{{/link-to}}
        <small>
          used by mini-datetime
        </small>
      </li>
      <li>
      {{#link-to 'demo-mini-date-change'}}mini-date-change{{/link-to}}
      <small>
        used by mini-datetime
      </small>
      </li>
    </ul>
  </div>

</div>
{{/demo-css}}
