{{#demo-css}}
<div class="container">

  <h3>Components</h3>
  <div class="col-xs-12 col-sm-6">
    click on any of the following components for details
    <ul>
      <li>{{#link-to 'mini-datetime-component'}}mini-datetime{{/link-to}}</li>
      <li>{{#link-to 'application'}}mini-date{{/link-to}}</li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6">
    helper components:<br>
    <ul>
      <li>
        {{#link-to 'demo-mini-time-change'}}mini-time-change{{/link-to}}
      </li>
      <li>
      {{#link-to 'demo-mini-date-change'}}mini-date-change{{/link-to}}
      </li>
    </ul>
  </div>

</div>
{{/demo-css}}