<div class="container">

  <h3>Components</h3>
  <desc>
    click on any of the following components for details
    <ul>
      <li>{{#link-to 'mini-datetime-component'}}mini-datetime{{/link-to}}</li>
      <li>{{#link-to 'application'}}mini-date{{/link-to}}</li>
    </ul>
  </desc>

</div>