<h3>Basic Example</h3>

<div class="example" style="width:{{exampleContainerWidth}}px">{{mini-datetime value='2015-05-04 12:34:00'}}</div>
<desc>
  <p>There above example takes a timedate string and then paints it into the space the containing provides.</p>
  <p>
    Using the buttons below you can try adjusting the container size to see the responsive nature of the default component. Notice that at the smaller sizes you start to have clipping on the right hand side.
  </p>
  {{ui-button-radio choices=containerWidths selected=exampleContainerWidth defaultValue='250'}}
</desc>